<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Job4_todo</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" href="/">Все задачи</a>
                    <a class="nav-item nav-link" th:href="@{/tasks/doneTasks}"> Выполненные </a>
                    <a class="nav-item nav-link" th:href="@{/tasks/performedTasks}"> В работе </a>
                    <a class="nav-item nav-link" th:href="@{/tasks/create}">Создать заявку</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>